<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="/static/css/training.css" th:href="@{/css/training.css}" rel="stylesheet"/>
    <title>商品登録完了</title>
</head>
<body>
<div class="container py-3">
    <div class="row">
        <div class="col-6 mx-auto">
            <h2 class="text-center pb-4" id="orange">商品登録</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">商品登録完了</h3>
                </div>
                <div class="card-body">
                    <p class="text-center mb-3">商品の登録が完了しました。</p>
                    <p class="text-center mb-3"><a th:href="@{/}">TOPへ</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>